.g-hd .inside {
    position: relative;
}

.v-list {
    
    .item {
    margin-top: $gridSpace;
    padding: $contextSpace;
    }
    .v-list-tools {
        @extend %display-flex;
        @include justify-content(space-around);
        margin-top: $contextSpace;
        font-size: 15px;
        .u-ico {
            width: 15px * $baseLineHeight;
            margin-right: $contextSpace / 2;
            vertical-align: baseline;
        }
    }
}
.v-player {
    video {
        width: 100%;
    }
}
